dearpygui==1.7.3
imageio==2.22.1
lpips==0.1.4
matplotlib==3.6.1
nerf==0.1.6
numpy==1.23.1
opencv_python==4.6.0.66
packaging==21.3
pandas==1.5.0
rich==12.6.0
scipy==1.9.1
tensorboardX==2.5.1
torch==1.12.1
torch_ema==0.3
tqdm==4.64.1
trimesh==3.15.8
